* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

}

html{
    height: 100%;
    scroll-padding-top: calc(4.5rem - 1px);
}

.pagetop{
    height: 100%;
    width: 100%;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 1.25rem;


    background-color: beige;
}

.header01{
    background-color: antiquewhite;
    
}
.aside {
    display: flex;
    justify-content:center;
    width: 80px;
    height: auto;
    bottom: 0;
    left: 0;
    top: 75px;
    width: 80px;
    position: absolute;
    background-color: aquamarine;
   }