<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>
    GreenDotSys - HURB - Conta-Hotel
  </title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

  <link id="pagestyle" href="/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-200">
  <script src="/js/aside.js"></script>
  <script>renderAside(7);</script>
  <div class="main-content position-relative max-height-vh-100 h-100">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Paginas</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">UAC-Conta</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Controle de Conta</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
              <label class="form-label">Pesquisar</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="sign-in.html" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Log-in</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                          <svg  fill="black;" class="h-8qpjjf avatar-sm me-3  " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98 30"><defs><path id="a" d="M0 .592h32.552V21.6H0z"></path></defs><g fill="inherit" fill-rule="evenodd"><g transform="translate(0 8.334)">
                            <mask id="b" fill="#fff">
                              <use xlink:href="#a">
                              </use>
                            </mask>
                            <path d="M16.276 21.6C4.78 21.6-.446 13.624.03 1.75.03.87.837.593 2.262.593c1.33 0 2.422.184 2.376 1.159-.285 9.46 2.66 15.49 11.638 15.49 9.075 0 12.02-6.169 11.64-15.49C27.867.776 28.96.59 30.29.59c1.425 0 2.232.279 2.232 1.16.475 12.01-4.845 19.849-16.247 19.849" mask="url(#b)"></path></g><path d="M9.034 7.888l.048 6.882c0 .989 1.014 1.272 2.174 1.225 1.496-.048 2.413-.376 2.317-1.366a202.643 202.643 0 0 1-.418-4.809 87.439 87.439 0 0 1 3.121-.047c1.305 0 2.21.069 3.069.123a210.404 210.404 0 0 1-.413 4.733c-.097.99.82 1.318 2.317 1.366 1.16.047 2.172-.236 2.172-1.225l.05-6.882c.145-2.78.386-4.195.675-6.362C24.243.583 23.47.11 21.925.017c-1.303-.094-2.365.189-2.365 1.178a78.03 78.03 0 0 1-.02 5.181c-2.306.108-4.429.11-6.576-.01a77.745 77.745 0 0 1-.019-5.171c0-.99-1.062-1.272-2.365-1.178-1.546.094-2.318.566-2.221 1.509.289 2.167.53 3.582.675 6.362m29.995 16.523h4.342v-8.663a4.007 4.007 0 0 1 1.023-.677 3.105 3.105 0 0 1 1.353-.289c.536 0 .964.148 1.287.44.321.296.483.829.483 1.601v7.588h4.342v-8.828c0-1.38-.367-2.462-1.1-3.243-.734-.781-1.749-1.172-3.046-1.172a4.93 4.93 0 0 0-2.394.607c-.743.404-1.4.929-1.976 1.572l.026-7.13h-4.34V24.41zm25.096-4.028c-.258.24-.571.441-.94.607a2.997 2.997 0 0 1-1.241.248c-.554 0-.986-.152-1.299-.456-.313-.302-.47-.84-.47-1.614v-7.586h-4.342v8.828c0 1.38.358 2.46 1.074 3.243.717.781 1.717 1.172 3.003 1.172.856 0 1.646-.198 2.372-.594a7.284 7.284 0 0 0 1.843-1.393v1.573h4.342V11.582h-4.342v8.8zm32.886-5.311c-.28-.819-.662-1.518-1.148-2.098a4.974 4.974 0 0 0-1.751-1.338 5.292 5.292 0 0 0-2.227-.468c-.842 0-1.56.184-2.158.551a7.806 7.806 0 0 0-1.512 1.187l.025-6.689h-4.339v18.608l4.062-.552c.428.147.92.272 1.47.372.55.101 1.04.153 1.471.153.877 0 1.714-.162 2.507-.483a6.165 6.165 0 0 0 2.088-1.394 6.604 6.604 0 0 0 1.414-2.194c.346-.854.518-1.815.518-2.882 0-1.03-.14-1.955-.42-2.773m-4.67 5.573c-.498.654-1.21.98-2.132.98-.776 0-1.431-.175-1.966-.526v-5.655c.294-.257.608-.47.942-.635.33-.166.738-.247 1.218-.247.885 0 1.555.307 2.008.924.452.617.678 1.476.678 2.579 0 1.066-.25 1.927-.748 2.58m-11.704-9.02a4.1 4.1 0 0 0-1.18-.179c-1.237 0-2.211.648-2.924 1.944v-1.836h-4.045v12.857h4.045v-7.32c.894-2.11 3.558-1.788 4.104-1.692v-3.774z">
                          </path>
                        </g>
                      </svg>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Nova Mensagem</span> de HURB
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          5 minutos atrás
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <i class="fa-duotone fa-circle-exclamation avatar avatar-sm me-3" fill="red;"></i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Hóspede ausente</span> <span class="text-danger">Equipamentos ligados</span>
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 dia
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                        <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>credit-card</title>
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <g transform="translate(1716.000000, 291.000000)">
                                <g transform="translate(453.000000, 454.000000)">
                                  <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                  <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          Manuntenção necessária em equipamento
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          2 days
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="/img/LOGO HOTELTEMP.png" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                Hotel Paraíso dos Testes
              </h5>
              <p class="mb-0 font-weight-normal text-sm">
                Admin User
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">home</i>
                    <span class="ms-1">App</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">email</i>
                    <span class="ms-1">Messages</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">settings</i>
                    <span class="ms-1">Settings</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-12 col-xl-4">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <h6 class="mb-0">Controle de Alertas</h6>
                </div>
                <div class="card-body p-3">
                  <h6 class="text-uppercase text-body text-xs font-weight-bolder">Software</h6>
                  <ul class="list-group">
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Avise-me quando um quarto necessitar manuntenção</label>
                      </div>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault10" checked>
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Avise-me ao um Sensor continuar <span style="color: red">Positivo</span> indevidamente</label>
                      </div>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2">
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Notifique-me via e-mail também.</label>
                      </div>
                    </li>
                  </ul>
                  <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4">Controle de Conta</h6>
                  <ul class="list-group">
                    <li class="list-group-item border-0 px-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault3">
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault3">Buscar atualizações automaticamente.</label>
                      </div>
                    </li>
                    <li class="list-group-item border-0 px-0">
                      <form role="form" class="text-start">
                        <div class="input-group input-group-outline my-3">
                          <label class="form-label">paraisoGDSHotel</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                        <div class="input-group input-group-outline mb-3">
                          <label class="form-label">Senha</label>
                          <input type="password" class="form-control">
                        </div>
                        </form>
                    </li>
                    <li class="list-group-item border-0 px-0 pb-0">
                      <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault5">
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault5">Receber novidades por e-mail da GreenDotSys?</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-4">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h6 class="mb-0">Perfil da Conta GDsys</h6>
                    </div>
                    <div class="col-md-4 text-end">
                      <a href="javascript:;">
                        <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body p-3">
                  <p class="text-sm">
                    Infos
                   </p>
                  <hr class="horizontal gray-light my-4">
                  <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">CNPJ:</strong> &nbsp; 00.111.222/0001-01</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Nome Fantasia:</strong>exemplo@mail.com</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Localização:</strong> &nbsp; Salvador, Bahia - BR</li>
                    <li class="list-group-item border-0 ps-0 pb-0">
                      <strong class="text-dark text-sm">Redes Sociais:</strong> &nbsp;
                      <a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-facebook fa-lg"></i>
                      </a>
                      <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-twitter fa-lg"></i>
                      </a>
                      <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                        <i class="fab fa-instagram fa-lg"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
    <footer class="footer py-4  ">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              © <script>
                document.write(new Date().getFullYear())
              </script>,
              GreenDotSys by
              <a href="#" class="font-weight-bold" target="_blank">Dende.js</a>
              por uma melhor sustentatibilidade em negócios.
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="#" class="nav-link text-muted" target="_blank"></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-muted" target="_blank">Sobre a Dende.js</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-muted" target="_blank">HURB</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="/js/material-dashboard.min.js?v=3.0.4"></script>
</body>

</html>